/* grayscale the map */
.leaflet-tile {
    filter: grayscale(100%) contrast(95%) brightness(105%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(6, 3, 10);
    overflow: hidden;
    height: calc(100vh - 40px);
}

.container {
    border: 1px solid #aeaeae;
    margin: 20px;
    margin-top: 20px;
    height: calc(100vh - 40px);
    display: flex;
}

.left-panel,
.left {
    flex: 1;
    border-right: 2px solid #aeaeae;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

/* ok this double class is crazy */
.right-panel,
.right {
    flex: 1;
    position: relative;
}

h1.title {
    font-family: 'inter', sans-serif;
    text-align: center;
    font-size: 5rem;
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
    position: relative;
    color: white;
    margin-top: 8px;
}

h2.project-desc {
    font-family: 'inter', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #e6e6e6;
    line-height: 1.4;
}


.map-key,
.map-key img {
    height: auto;
    width: auto;
    max-width: 240px;
    border-radius: 6px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 1001;
}

/* thank youuuu tutorials */
.simple-image-row {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.simple-image-row img {
    width: 32%;
    height: auto;
    object-fit: contain;
    border-radius: 2px;
}